body {
  font: 13px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight:bold;
  font-size:20px;
}

h2 {
  font-weight:bold;
  font-size:14px;
}

.header {
  min-height: 30px;
  padding: 20px;
}

.main {
  min-height: 300px;
}

.footer {
  padding: 20px;
  min-height: 30px;
  text-align: center;
}

#entryform {
  display: none;
  font-size: 16px;
  margin-bottom: 20px;
}

#entryform select {
  min-width: 100px;
}

#entryform input {
  min-width: 150px;
}

#calendar {
  border-top: 3px solid #333333;
}

.boxed {
  background-color: #333333;
  color: #ffffff;
  padding: 5px;
}