{% extends "base.html" %}

{% block title %}Shifts{% endblock %}
{% block meta_description %}{{description_tag}}{% endblock %}
{% block meta_keywords %}{{keywords_tag}}{% endblock %}

{% block header %}
<h1>Razmjena vještina dežurstva</h1>
{% endblock %}

{% block main %}
<div id="entryform">
  <form method="post" action="{% url shifts.views.index %}">
    Haker(ica): {{ form.person }}
    Datum: {{ form.date }}
    <input type="submit" value="Submit" name="submit" id="submit" />
  </form>
</div>
<div id="calendar"></div>
{% endblock %}

{% block footer %}
ovo je footer
{% endblock %}
